* {
	padding: 0;
	margin: 0;
}

body {
	background: #988f6e;
	font-family: sans-serif;
}

#inputs {
	width: 250px;
	margin: 0 auto;
}

#toggle {
	margin: 0 0 10px;
	text-align: right;
	font-size:14px;
}

#toggle a {
	color: #CCC;
	text-decoration: none;
}

#toggle a:hover {
	color:#fff;
}

#signal, #hertz {
	height: 24px;
	width: 212px;
	margin: 0 0 15px;
	font-size: 20px;
	background: transparent;
	color: #fff;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

#hertz {
	width: 137px;
	margin: 0;
	text-align: center;
}

#or {
	font-size: 12px;
}

#adv {
	display: none;
}

#advanced:target ~ #adv {
	display: block;
}

#advanced:target ~ #smpl {
	display: none;
}

canvas {
	width: 100%;
	background: #ffcd6c;
	border-bottom: 1px solid #000;
}

#x {
	margin: -18px 0 0;
	z-index: 10;
}

#x input[type="range"] {
	-webkit-appearance: none;
	height: 2px;
	width: 100%;
	z-index: 11;
	background: #000;
}

#x input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	z-index: 15;
	width: 8px;
	height: 14px;
	background: #E01B5D;
}

.button {
	width: 250px;
	height: 35px;
	margin: 15px 0 0;
	font-size: 22px;
	color: white;
	background: #e01b5d;
	border: 1px solid #e190ab;
	transition:background .4s, border .4s;
	-webkit-transition:background .4s, border .4s;
}

.button:hover {
	background: #e3004c;
	border: 1px solid #e3ced5;
	cursor: pointer;
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: black;
	height: 2px;
	width: 287px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	z-index: 1;
	width: 8px;
	height: 14px;
	background: #E01B5D;
}

@-moz-document url-prefix() {
	#x {
		margin: -20px 0 0;
	}
	
	input[type="range"] {
		background-color: black;
		height: 2px;
		width: 287px;
	}
	
	input[type="range"]::-moz-range-track {
		width: 0%;
	}
	 
	input[type="range"]::-moz-range-thumb {
		width: 8px;
		height: 14px;
		background: #E01B5D;
		border: none;
		border-radius: 0;
	}
}

.col {
	width: 28%;
	margin: 35px 0 0 4%;
	float: left;
}

#mCol {
	margin: 15px 0 0 4%;
}

#rCol {
	text-align: right;
}