<!DOCTYPE html>
<html>
	<head>
	    <title>visualize audible signals :: graphesizer</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/dragdealer.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />

		<script src="{{ url_for('static', filename='js/dragdealer.js') }}"></script>
	</head>
	<body>
		<canvas class="graph"></canvas>
	    <h1>functionally: {% if not (signal == None) %}{{ signal }} - <a href="{{ url_for('static', filename='waves/%s.ogg' % signal) }}" type="audio/ogg; codecs='vorbis'">ogg</a> {% else %} sin(x) {% endif %} </h1>
		<!--
		<input type="range" min="10" max="10000" step="10" class="x_zoom" value="100" onkeyup="setXZoom(this.value)" />
		<input type="range" min="10" max="10000" step="10" class="y_zoom" value="100" onkeyup="setYZoom(this.value)" />
		!-->
		<div class="dragdealer" id="x-zoom-slider">
			<div class="drag-bar handle">x</div>
		</div>
		<div class="dragdealer" id="y-zoom-slider">
			<div class="drag-bar handle">y</div>
		</div>
		<form method="POST" action="/generate" onsubmit="return post_json(this)">
			<input type="text" id="signal" name="signal" onkeyup="graph_function(this.value)" />
			<div id="audio_box">
				<input type="submit" value="generate" />
			</div>
		</form>
		<script type="text/javascript">
			canvas = document.getElementsByTagName('canvas')[0];
			canvas.setAttribute('width', '1391.5px');
			canvas.setAttribute('height', '500px');
		</script>
		<script type="text/javascript">
		new Dragdealer('y-zoom-slider',
		{
			steps: 100,
			speed: 0,
			animationCallback: function(x, y) {
				setYZoom(300 * x + 10);
			}
		});
		</script>
		<script type="text/javascript">
		new Dragdealer('x-zoom-slider',
		{
			steps: 100000,
			speed: 0,
			snap: true,
			animationCallback: function(x, y) {
				setXZoom(100000 * Math.log(x + 0.000001) + 10);
			}
		});
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/convert-to-math.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/canvas.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/audio.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/post_json.js') }}"></script>
	 </body>
 </html>
